@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Heebo&family=Permanent+Marker&family=Roboto&display=swap');

body {
    background-color: #2B87D1;
    color: white;
    margin: 0px;
}

button {
    background-color: #FFD154;
    cursor: pointer;
    padding: 15px 25px;
    border: 0px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #FFFFFF;
}

.container {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.instructions, .current-level {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 20px;
}

.current-level {
    display: none;
}

.square {
    background-color: #2472C0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    cursor: default;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.flashy {
    animation: flash 0.2s;
}

@-webkit-keyframes flash {
    0% { background-color: #FFFFFF; }
    100% {background-color: #FFFFFF;}
}

@keyframes flash {
    0% { background-color: #FFFFFF; }
    100% {background-color: #FFFFFF;}
}